@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; /* equals 1rem */
    scroll-behavior: smooth;
}

body {
    background: lightgrey;
    font-family: 'Open Sans', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 55px;
    font-family: 'Varela Round', sans-serif;
}

h2 {
    font-size: 35px;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    opacity: 0.9;
    position: fixed;
    background: #000000;
    box-shadow: 0.5px 0.5px 2px #000000;
    z-index: 10;
}
.nav-image {
    padding: 5px;
}
#logo-pic {
    background: #000000;
    width: 4.5rem;
    margin: 0 2rem;
    animation: moveInLeft 0.6s ease-out;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;

}

#logo-pic:hover {
    transform: scale(1.13, 1.13);
}

.nav-links {
    padding: 0 2.5rem;
    height: 100%;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    color: #ecf0ff;
}

.nav-link {
    color: #FFFFFF;
    font-size: 2rem;
    padding: 1rem;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    animation: moveInTop 0.8s ease-out;
    -webkit-transition: transform 0.9s;
    -moz-transition: transform 0.9s;
    -o-transition: transform 0.9s;
    transition: transform 0.9s;
}

.nav-link:hover {
    color: #03a9f4;
    -webkit-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
}


/* welcome section */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    background-image: url("img/background-1.jpeg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 2;

}

.overlay {
    position: absolute;
    background: #000000;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#welcome-heading {
    font-size: 9.5rem;
    color: #ecf0ff;
    padding: 25px;
    z-index: 9;
    /* animation: zoomIn 1s ease-in; */
}

#sub-heading {
    color: #03a9f4;
    font-size: 4.5rem;
    padding: 1rem;
    z-index: 9;
    /* animation: zoomIn 1s ease-in; */
}

.far {
margin: 3.5rem;
font-size: 5.5rem   ;
color: #ecf0ff;
z-index: 9;
}

#scroll {
animation: moveInBottom 0.6s ease-out;
z-index: 9;
}

/* about section  */

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background: #03a9f4;
    width: 100%;
    height: 100%;
}

#about-heading {
    color: #ecf0ff;
    text-shadow: 0.08rem 0.1rem 0.1rem #000000;
    padding: 7rem 0 3.5rem 0;
}

#about-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about-pic {
    margin: 2.5rem;
    width: 29.8rem;
    height: 41rem;
    border-radius: 0.5rem;
}

.about-div {
    padding: 0 1.5rem 5.5rem 1.5rem;
}

.about-text {
    text-align: left;
    font-size: 2rem;
    padding: 1.5rem;
}

#about-subheading {
    color: #ecf0ff;
    padding: 2.5rem 0;
    text-shadow: 0.08rem 0.1rem 0.1rem #000000;
}

.skill {
    height: 14rem;
    width: 12rem;
    padding: 1.5rem;
    margin: 0.5rem 1rem;
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
}

.skill:hover {
    cursor: pointer;
    -webkit-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
}

/* portfolio */

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-bottom: 5.5rem;
    width: 100%;
    height: 100%;
    background: #ecf0ff;
}

#portfolio-heading {
    color: #03a9f4;
    text-shadow: 0.08rem 0.1rem 0.1rem #000000;
    padding: 7rem 0 3.5rem 0;
}

#projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.project-tile {
    width: 28rem;
    height: 28rem;
    border-radius: 0.5rem;
    margin: 1.5rem 0.5rem;
    transition:transform 1s;
}

.project-tile:hover {
    -webkit-transform: translate(0, -2rem);
    -moz-transform: translate(0, -2rem);
    -o-transform: translate(0, -2rem);
    transform: translate(0, -2rem);
}

/* contact */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #03a9f4;
}

#contact-heading {
    color: #ecf0ff;
    text-shadow: 0.08rem 0.1rem 0.1rem #000000;
    padding: 7rem 0 3.5rem 0;
}

.contact-subheading {
    padding: 1.5rem 2.5rem;
}
.contact-btn:link, .contact-btn:visited {
    display: inline-block;
    position: relative;
    color: #0D0E15;
    font-size: 2.5rem;
    border-radius: 0.3rem;
    padding: 2rem 5rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 0.1rem solid #ecf0ff;
    margin: 2rem;
    transition: all .2s;
}

.contact-btn:hover {
    background: #ecf0ff;
    color: #03a9f4;
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(2, 2, 2, 0.3);
}

.contact-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(2, 2, 2, 0.3);
}


/* social media icons */
.footer-social {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0.5rem;
}

.footer-social-item {
    padding: 0.5rem;
}

.footer-social-item i {
    color: #ecf0ff;
    padding: 1.5rem;
    font-size: 3rem;
    border-radius: 0.5rem;
    text-shadow: 0.08rem 0.1rem 0.1rem #000000;
}

.footer-social-item i:hover {
    background: #ecf0ff;
    text-shadow: 0.08rem 0.1rem 0.1rem #000000;
    -webkit-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.footer-social-item .fa-free-code-camp {
    color: #006400;
}

.footer-social-item .fa-free-code-camp:hover {
    color: #ecf0ff;
    background: #006400;
}

.footer-social-item .fa-codepen {
    color: #000000;
}

.footer-social-item .fa-codepen:hover {
    color: #ecf0ff;
    background: #000000;
}

.footer-social-item .fa-linkedin {
    color: #0077B5;
}

.footer-social-item .fa-linkedin:hover {
    color: #ecf0ff;
    background: #0077B5;
}

.footer-social-item .fa-github {
    color: #24292e;
}

.footer-social-item .fa-github:hover {
    color: #ecf0ff;
    background: #24292e;

}

.footer-social-item .fa-twitter {
    color: #3CF;
}
.footer-social-item .fa-twitter:hover {
    color: #ecf0ff;
    background: #3CF;
}


#copyright {
    padding: 2rem;
    font-size: 1.8rem;
}

/* media queries */

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    #about-wrap {
        flex-direction: column;
    }

    #welcome-heading {
        font-size: 6.5rem;
        margin: 0;
    }

    #sub-heading1 {
        font-size: 3.5rem;
    }

    #sub-heading2 {
        font-size: 2.5rem;
    }

    .footer-social-item i {
        font-size: 2.5rem;

    }
}

/* animations */

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.7); }
    100% {
        opacity: 1;
        transform: scale(1); }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-10rem); }
    80% {
        transform: translateY(1rem); }
    100% {
        transform: translateY(0);
        opacity: 1; }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem); }
    80% {
        transform: translateX(3rem); }
    100% {
        transform: translateX(0);
        opacity: 1; }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(+10rem); }
    80% {
        transform: translateY(-3rem); }
    100% {
        transform: translateX(0);
        opacity: 1; }
}



